[submodule "phase-4-rails-and-active-record-lab"]
	path = phase-4-rails-and-active-record-lab
	url = git@github.com:alieudev/phase-4-rails-and-active-record-lab.git
[submodule "RubyLabs/RailsFundamentals/phase-4-rails-routing-basics-readme"]
	path = RubyLabs/RailsFundamentals/phase-4-rails-routing-basics-readme
	url = git@github.com:alieudev/phase-4-rails-routing-basics-readme.git
[submodule "RubyLabs/RailsFundamentals/phase-4-rails-routing-basics-lab"]
	path = RubyLabs/RailsFundamentals/phase-4-rails-routing-basics-lab
	url = git@github.com:alieudev/phase-4-rails-routing-basics-lab.git
[submodule "RubyLabs/RailsFundamentals/phase-4-rails-route-params-lab"]
	path = RubyLabs/RailsFundamentals/phase-4-rails-route-params-lab
	url = git@github.com:alieudev/phase-4-rails-route-params-lab.git
[submodule "RubyLabs/RailsFundamentals/phase-4-rails-create-read-lab"]
	path = RubyLabs/RailsFundamentals/phase-4-rails-create-read-lab
	url = git@github.com:alieudev/phase-4-rails-create-read-lab.git
[submodule "RubyLabs/RailsFundamentals/phase-4-rails-update-destroy-lab"]
	path = RubyLabs/RailsFundamentals/phase-4-rails-update-destroy-lab
	url = git@github.com:alieudev/phase-4-rails-update-destroy-lab.git
[submodule "RubyLabs/RailsFundamentals/phase-4-mini-project-crud"]
	path = RubyLabs/RailsFundamentals/phase-4-mini-project-crud
	url = git@github.com:alieudev/phase-4-mini-project-crud.git
[submodule "RubyLabs/Validations/phase-4-active-record-validations-lab"]
	path = RubyLabs/Validations/phase-4-active-record-validations-lab
	url = git@github.com:alieudev/phase-4-active-record-validations-lab.git
[submodule "phase-4-mock-challenge-camping-fun"]
	path = phase-4-mock-challenge-camping-fun
	url = git@github.com:alieudev/phase-4-mock-challenge-camping-fun.git
